* {
	box-sizing: border-box;
}

body {
	background-image: url("../images/background.png");
	color: #777777;
	padding: 100px 0px 125px 0px;
}

 .navbar-brand {
	padding: 25px 30px 50px 30px;
 	background: #4aaaa5;
 	color: white;
	font-family: 'Rock Salt','Permanent Marker', Georgia, Times, 'Times New Roman', serif;
	font-size: 30px;
 }

.navbar-right {
	font-family: 'Rock Salt', Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 10pt;
	text-decoration: none;
	padding-top: 15px;
}

.navbar-toggle {
	margin-top:20px;
}

section {
/*	float: left;
	position: relative;*/
/*	padding-left: 30px;
	padding-top: 30px;*/
/*	padding-bottom: 30px;*/
	/*margin: 50px auto 100px auto;*/
	margin-bottom: 30px;
/*	margin-right: 30px;
	margin-left: 30px;*/
	padding: 15px 30px 30px 30px;
	background: #ffffff;
/*	width: 650px;
*/	/*min-height: 400px;*/
	overflow: hidden;
/*	clear: both;
*/	border: solid 1px #dddddd;
	box-shadow: 3px 3px 10px lightgray;
}

p {
	font-family: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
	font-size: 10pt; 
	padding: 10px 20px 0px 15px;
/*	margin: 0px 15px 5px 0px;
*/	text-align: left;
	line-height: 2;
}

h3 {
/*	position: absolute;*/
	/*top: 20px;
	left: 30px;
	right: 30px;*/
	padding-bottom: 10px;
	font-family: 'Oswald', Georgia, Times, 'Times New Roman', serif;
	font-size: 24pt;
/*	font-style: italic;*/
/*	background: white;
*/	color: #4aaaa5;
	text-align: left;
/*	font-weight: bold;*/
	border-bottom: solid #dddddd 1px;
}

h4 {
	font-family: 'Oswald', Georgia, Times, 'Times New Roman', serif;
	font-size: 16pt;
	background: white;
	color: #4aaaa5;
	text-align: left;
	/*font-weight: bold;*/
	border-bottom: solid #dddddd 1px;
	padding-bottom: 10px;
}

.img-responsive {
	width: 100%;
	float: left;
	padding-bottom: 15px;
/*	padding-top: 15px;
*//*	margin-right: 30px;
*//*	margin-top: 20px;*/
}

.thumbnails {
/* 	position: relative;
*/ 	float: left;
	width: 100%;
	height: auto;
/*	margin: 15px 20px 15px 0px;*/
 }


aside {
	padding: 15px 30px 15px 30px;
	background: #ffffff;
	border: solid 1px #cccccc;
	box-shadow: 3px 3px 10px lightgray;
}

.connect-icons {
	float: left;
	display: inline;
	width: 55px;
	height: 55px;
	margin: 15px 5px;
}

.connect-icons:hover {
	opacity: 0.5;
}

.navbar-fixed-bottom{
	font-family: 'Open Sans', Arial, "Helvetica Neue", Helvetica, sans-serif;
	padding: 20px;
	background: #777777;
	color: white;
	font-size: 8pt;
	border-top: 2pt solid #4aaaa5;
	text-align: center;
}

.thumbnail-container {
	/*position: relative;*/
	float: left;
	width: 100%;
	height: auto;
	/*margin: 15px 20px 15px 0px;*/
}

.thumbnail-header {
	float: left;
	position: absolute;
	bottom: 50px;
	width: 100%;
	padding: 10px 10px;
/*	padding-bottom: 10px;
*//*	margin: 15px 0px 15px 0px;
*/ 	background: #4aaaa5;
 	height: auto;
 	color: white;
 	font-size: 16pt;
 	text-align: center;
	font-family: 'Oswald', Georgia, Times, 'Times New Roman', serif;
	clear: both;
 }

.thumbnail-header:hover {
	background: tomato;
}


a {
	text-decoration: none;
	color: #777777;
}

/* unvisited link */
.navbar-nav ul a:link {
   	text-decoration: none;
    color: #777777;
}

/* mouse over link */
.navbar-nav ul a:hover {
    color: tomato;
}

/* selected link */
.navbar-nav ul a:active {
    color: #4aaaa5;
}

/*li {
	text-decoration: none;
	color: #777777;
}
li:link {
	text-decoration: none;
    color: #777777;
}

li:hover {
	color: tomato;
}

li:active {
	color: #4aaaa5;
}*/

/************************************************************************************/

/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */

/* Small devices (tablets, 768px below) changed from 'above' to 'below' */
@media only screen and (max-width: 768px) {
	
	body{
	padding-top: 100px;
	}

	.navbar-fixed-top {
	background: #4aaaa5;
	}


	/*Solution from Stack Overflow to change the hamburger icon to white*/
	.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
    	}

	#myNavbar {
 	background: rgba(255, 255, 255, 0.7);
 	}

	/*Solution from Stack Overflow to change the hamburger text to white*/
	.navbar a {
	color: #4aaaa5 !important;
	font-size: 12pt;
	}

	.navbar ul {
/*	font-weight: bold;*/
	font-family: 'Open Sans';
/*	letter-spacing: 1px;*/
	}

	.thumbnails {
	margin: 5px auto 30px auto;
	}

	section {
	margin-bottom: 30px;
	}

}

/*****************************************************************************************/

@media only screen and (min-width: 768px) and (max-width: 991px) {
	
	.thumbnails {
	margin: 5px auto 30px auto;
	}
}

/*****************************************************************************************/

/* Medium devices (desktops, 992px and up) */
@media only screen and (min-width: 992px) {

	.img-responsive {
	max-width: 50%;
	height: auto;
	padding: 0px 20px 10px 0px;
	float: left;
	}
	
	section {
	margin-bottom: 30px;
	}

	.thumbnails {
/* 	position: relative;
*/ 	float: left;
	width: 100%;
	height: auto;
	margin: 15px 0px 15px 0px;
/*	padding: 0px 15px 0px 0px;
*/ }
	
	.thumbnail-header {
	bottom: 15px;
	padding: 0px 10px;
	}

}

/*****************************************************************************************/

/* Large devices (large desktops, 1200px and up) */
/*@media (min-width: @screen-lg-min) { }